<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Application</title>
    <meta name="description" content="Travel Application">
    <link rel="shortcut icon" type="image/x-icon" href="https://picsum.photos/16/16" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>Travel Application</h1>
    </header>

    <main class="d-flex flex-column align-items-center justify-content-center">
        <form id="travel-form">
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <button type="submit">Submit</button>
        </form>
        <section id="forecast-card" class="card m-3">
            <div id="carouselExample" class="carousel slide bg-light">
                <div id="forecast-carousel-inner" class="carousel-inner">
                    <!-- Images will be dynamically inserted here -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div id="forecast-card-body" class="card-body">
                <h5 class="card-title text-center">Weather data</h5>
                <div id="forecast-card-text" class="card-text">
                    <!-- Weather forecast will be dynamically inserted here -->
                </div>
            </div>
        </section>
        <section id="errors" class="errors">
            <!-- errors will be dynamically inserted here -->
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
</body>

</html>